
{{#if settings.enable_crosslinktiles}}
    <div class="container">
        <section class="footer-tiles">
            <ul class="blocks-list">
                <li class="blocks-item tile-remindo">
                    <a href="https://support.remindo.com/hc" class="blocks-item-link">
                        <span class="category-icon" style="background: #fff url({{asset 'icon-remindo-transparent.png'}}) no-repeat 100%/100%;">&nbsp;</span>
                        <span class="blocks-item-title">Remindo</span>
                    </a>
                </li>
                <li class="blocks-item tile-skillsly">
                    <a href="https://support.skillsly.com/hc" class="blocks-item-link">
                        <span class="category-icon" style="background: #fff url({{asset 'icon-skillsly-transparent.png'}}) no-repeat 100%/100%;">&nbsp;</span>
                        <span class="blocks-item-title">Skillsly</span>
                    </a>
                </li>
                <li class="blocks-item tile-gradework">
                    <a href="https://support.gradework.com/hc" class="blocks-item-link">
                        <span class="category-icon" style="background: #fff url({{asset 'icon-gradework-transparent.png'}}) no-repeat 100%/100%;">&nbsp;</span>
                        <span class="blocks-item-title">GradeWork</span>
                    </a>
                </li>
                <li class="blocks-item tile-onstage">
                    <a href="https://support.onstagesoftware.com/hc" class="blocks-item-link">
                        <span class="category-icon" style="background: #fff url({{asset 'icon-onstage-transparent.png'}}) no-repeat 100%/100%;">&nbsp;</span>
                        <span class="blocks-item-title">OnStage</span>
                    </a>
                </li>
                <li class="blocks-item tile-ontrac">
                    <a href="https://support.ontracsoftware.com/hc" class="blocks-item-link">
                        <span class="category-icon" style="background: #fff url({{asset 'icon-ontrac-transparent.png'}}) no-repeat 100%/100%;">&nbsp;</span>
                        <span class="blocks-item-title">OnTrac</span>
                    </a>
                </li>
                <li class="blocks-item tile-ompt">
                    <a href="https://support.omptest.com/hc" class="blocks-item-link">
                        <span class="category-icon" style="background: #fff url({{asset 'icon-ompt-transparent.png'}}) no-repeat 100%/100%;">&nbsp;</span>
                        <span class="blocks-item-title">OMPT</span>
                    </a>
                </li>
                <li class="blocks-item tile-sowiso">
                    <a href="https://support.sowiso.com/hc" class="blocks-item-link">
                        <span class="category-icon" style="background: #fff url({{asset 'icon-sowiso-transparent.png'}}) no-repeat 100%/100%;">&nbsp;</span>
                        <span class="blocks-item-title">Sowiso</span>
                    </a>
                </li>
                <li class="blocks-item tile-coachview">
                    <a href="https://support.coachview.com/hc" class="blocks-item-link">
                        <span class="category-icon" style="background: #fff url({{asset 'icon-coachview-transparent.png'}}) no-repeat 100%/100%;">&nbsp;</span>
                        <span class="blocks-item-title">Coachview</span>
                    </a>
                </li>
                <li class="blocks-item tile-paraginintegrations">
                    <a href="https://integrations.paragin.com/hc" class="blocks-item-link">
                        <span class="category-icon" style="background: #fff url({{asset 'icon-paraginintegrations-transparent.png'}}) no-repeat 100%/100%;">&nbsp;</span>
                        <span class="blocks-item-title">Integrations</span>
                    </a>
                </li>
                <li class="blocks-item tile-b3net">
                    <a href="https://support.b3net.nl/hc" class="blocks-item-link">
                        <span class="category-icon" style="background: #fff url({{asset 'icon-b3net-transparent.png'}}) no-repeat 100%/100%;">&nbsp;</span>
                        <span class="blocks-item-title">B3net</span>
                    </a>
                </li>
            </ul>
        </section>
    </div>
{{/if}}
<footer class="footer text-center">
   <div class="container"></div>
</footer>

{{!-- close brand container --}}
</div>